*{
    margin:0;
    padding:0;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
}

form{
    border: 1px solid gray;
    max-width: 400px;
    width: 50%;
    min-width: 250px;
    margin: 10vh;
    padding: 2%;
    border-radius: 1.5%;
    height: 40vh;
}

input, button{
    margin-bottom: 5%;
}

.text-input{
    width: 95%;
    padding: 2%;
}

.button1{
    background-color: orange;
    width:402px;
}
.container {
  max-width: 50%;  
  margin: 40px auto;
}

.main{
    text-align:center;
    
}

.button2{
    align-items: center;
    margin-left:450px;
    width:30%;
    height:30px;

}

.footer{
    color:blue;
    text-align:center;
}

.footer2{
    text-align:center;
}